/*
Normal system template with standard colors and styling for modern web applications.
This stylesheet uses light backgrounds, modern font styles, and standard button and input designs.

## Change these within the load_css('style.css') function.
*/


.textbox-container {
    position: relative;
    width: 100%;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: gray;
    color: #ffffff;
    font-size: 12px;  /* Set a base font size for all elements */
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 25px;  /* Show below the icon */
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  

  .tooltip .tooltiptext * {
    font-size: 12px; 
  }
  
  .icon {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
  }
  
  /* CSS to resize video in Streamlit */
iframe {
  width: 50% !important; /* Adjust the width to 50% */
  height: auto !important; /* Automatically adjust the height */
  max-width: 100%; /* Ensure it doesn’t exceed the screen size */
}
